h2 {
	font-size: 2em;
	margin-top: 0;
	padding-top: 0;
}

nav a {
	padding: 5px 10px;
	text-decoration: none;
	margin-top: 10px;
	display: inline-block;
	background-color: #eee;
	border-radius: 4px;
}

nav a.tour-of-heroes--nav--active {
	color: #039be5;
}

nav a:hover {
	color: #039be5;
	background-color: #CFD8DC;
}

nav a:link, a:visited {
	color: #607D8B;
}

span.tour-of-heroes--nav--active {
	background-color: gray;
}

.tour-of-heroes {
	margin: 0 0 2em 0;
	list-style-type: none;
	padding: 0;
	width: 15em;
}