<h3>Contact of {{userName}}</h3>
<div
    *ngIf="message"
    class="contact-detail--message"
>{{message}}</div>
<form
    *ngIf="contacts"
    #contactForm="ngForm"
    (ngSumbit)="onSubmit()"
>
    <h3 tourHighlight>{{ contact.name | awesome }}</h3>
    <div class="contact-form--form-group">
        <label for="name">Name</label> <input
            #name="ngModel"
            class="contact-form--form-control"
            name="name"
            required
            type="text"
            [(ngModel)]="contact.name"
        />
        <div
            class="contact-form--alert contact-form--alert--danger"
            [hidden]="name.valid"
        >Name is required</div>
    </div>
    <br />
    <button
        class="contact-form--button contact-form--button--default"
        type="submit"
        [disabled]="!contactForm.form.valid"
    >Save</button>
    <button
        class="contact-form--button"
        type="submit"
        [disabled]="!contactForm.form.valid"
        (click)="next()"
    >Next Contact</button>
    <button
        class="contact-form--button"
        type="submit"
        [disabled]="!contactForm.form.valid"
        (click)="newContact()"
    >New Contact</button>
</form>