<h3 highlight>My Heroes</h3>
<ul class="tour-of-heroes">
    <li
        *ngFor="let hero of heroes"
        class="hero"
        [class.hero--selected]="hero === selectedHero"
    ><a routerLink="{{hero.id}}"><span class="hero--badge">{{hero.id}}</span>
            <span>{{hero.name}}</span></a>
        <button
            class="hero--button--delete"
            (click)="delete(hero); $event.stopPropagation()"
        >x</button></li>
    <li class="hero"><label>New hero name: <input #heroName /></label>
        <button (click)="add(heroName.value); heroName.value=''">Add</button>
    </li>
</ul>
